<div>
    <h2 mat-dialog-title>Recuperar Senha</h2>
    <mat-dialog-content>
        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>CPF</mat-label>
            <input matInput [formControl]="cpf" mask="000.000.000-00" placeholder="000.000.000-00" />
            <mat-error *ngIf="cpf.hasError('required')">CPF é obrigatório</mat-error>
            <mat-error *ngIf="cpf.hasError('cpfLength')">CPF deve ter 11 dígitos</mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="onCancel()">Cancelar</button>
        <button mat-button color="primary" (click)="onConfirm()" [disabled]="cpf.invalid">Enviar</button>
    </mat-dialog-actions>

</div>